[data-theme=arctic-summer] {
  --bulma-primary: #B15F12;
  --bulma-link: #435264;
  --bulma-dark: #31292F;
  --bulma-background: #fff;
  --bulma-radius: 0;
  --bulma-family-primary: "STIX Two Text", serif;
  --bulma-family-secondary: arial;
  --bulma-border: #869BA8;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  transition: 250ms color ease;
  color: var(--bulma-primary);
}

.columns {
  margin: 0 1em;
}

nav.navbar.navbar-multi-level {
  padding-left: 2.5em;
  padding-right: 2.5em;
  flex-wrap: wrap;
}

.navbar-multi-level .navbar-brand {
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    width: 100%;
  }

.navbar-multi-level .navbar-brand .navbar-item img {
  margin-right: 1em;
}

.navbar-multi-level .navbar-top-list-item {
  margin: 0 1em;
  text-decoration: underline;
  font-size: 0.8em;
}

.navbar-multi-level .navbar-start .navbar-item {
  height: 3.5rem;
}

.head-row {
  padding: 1em 2em;
  background-color: var(--bulma-primary);
  color: white;
  margin-bottom: 0.8em;
  padding-left: 3.25em;
  padding-right: 2.5em;
}

.head-row .head-row-heading {
  font-size: 1.4em;
}

#main {
  flex: 1;
}

#main > .columns {
  min-height: 100%;
}

.sidebar {
  width: 250px;
  border-right: 1px solid lightgrey;
  min-height: 100%;
}

#notification-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#notification-area > div {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.button.is-primary {
  background-color: var(--bulma-primary);
}

.button.is-selected:hover {
  background-color: var(--bulma-primary);
}

.button.is-active {
  background-color: var(--bulma-primary);
}

.menu-list a.is-active {
  background-color: var(--bulma-primary);
}

a.navbar-item:hover {
  color: var(--bulma-link);
}

.dotted-top-border {
  border-top: 1px dotted lightgrey;
}