source https://api.nuget.org/v3/index.json
storage: none
framework: auto-detect

github AndrewIOM/biodiversity-graph-db:bdf19505929e5462e807b3255d3506c0a253fe2f

nuget FSharp.Data
nuget Microsoft.FSharpLu.Json
nuget RProvider
nuget MaxRev.Gdal.Core
nuget MaxRev.Gdal.MacosRuntime.Minimal.arm64

nuget Bolero.Build
nuget Bolero.HotReload
nuget MarkDig
nuget Microsoft.AspNetCore.Components.WebAssembly.DevServer
nuget Plotly.NET