source https://api.nuget.org/v3/index.json
storage: none
framework: auto-detect

github AndrewIOM/biodiversity-graph-db:441926f1494c5cf8d29ccb59dec0e96898fb4c68

nuget FSharp.Data
nuget Microsoft.FSharpLu.Json
nuget RProvider
nuget MaxRev.Gdal.Core
nuget MaxRev.Gdal.MacosRuntime.Minimal.arm64

nuget Bolero.Build
nuget Bolero.HotReload
nuget MarkDig
nuget Microsoft.AspNetCore.Components.WebAssembly.DevServer
nuget Plotly.NET