source https://api.nuget.org/v3/index.json
storage: none
framework: auto-detect

github AndrewIOM/biodiversity-graph-db:6b23d54ab66e833b76fde3dcbbdf1ede264fdefa

nuget FSharp.Data
nuget Microsoft.FSharpLu.Json
nuget RProvider

nuget Bolero.Build
nuget Bolero.HotReload
nuget MarkDig
nuget Microsoft.AspNetCore.Components.WebAssembly.DevServer
nuget Plotly.NET